{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": "@react-native-community",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto"
      }
    ],
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-single"],
    "prefer-const": ["warn"]
  },
  "ignorePatterns": ["dist/*"],
  "env": {
    "browser": true
  }
}
