<ngb-rating [(rate)]="currentRate"></ngb-rating>
<hr />
<pre>Rate: <b>{{currentRate}}</b></pre>

<button class="btn btn-primary" (click)="show('success')">
    toast success</button>

<button class="btn btn-primary" (click)="show('error')">
    toast error</button>
<button class="btn btn-primary" (click)="show('warning')">
    toast warning</button>
<button class="btn btn-primary" (click)="show('info')">
    toast info</button>


<button class="btn btn-secondary" (click)="removeStandard()">Remove</button>