.toast-success {
  background-color: var(--bs-success);
  color: var(--bs-success-text);
}

.toast-error {
  background-color: var(--bs-error);
  color: var(--bs-error-text);
}

.toast-info {
  background-color: var(--bs-info);
  color: var(--bs-info-text);
}

.toast-warning {
  background-color: var(--bs-warning);
  color: var(--bs-warning-text);
}
